In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

from matplotlib import rc
rc("font", family = "Malgun Gothic")

get_ipython().run_line_magic("matplotlib", "inline")

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys

import time
from tqdm.notebook import tqdm

from glob import glob
import warnings
warnings.filterwarnings('ignore')

# 1. 2021년

In [7]:
order_list = ['경기도 가평군', '경기도 고양시 ', '경기도 과천시', '경기도 광명시', '경기도 광주시', '경기도 구리시',
       '경기도 군포시', '경기도 김포시', '경기도 남양주시', '경기도 동두천시', '경기도 부천시', '경기도 성남시 ',
       '경기도 수원시 ', '경기도 시흥시', '경기도 안산시 ', '경기도 안성시', '경기도 안양시 ', '경기도 양주시',
       '경기도 양평군', '경기도 여주시', '경기도 연천군', '경기도 오산시', '경기도 용인시 ', '경기도 의왕시',
       '경기도 의정부시', '경기도 이천시', '경기도 파주시', '경기도 평택시', '경기도 포천시', '경기도 하남시',
       '경기도 화성시', '서울특별시 강남구', '서울특별시 강동구', '서울특별시 강북구', '서울특별시 강서구',
       '서울특별시 관악구', '서울특별시 광진구', '서울특별시 구로구', '서울특별시 금천구', '서울특별시 노원구',
       '서울특별시 도봉구', '서울특별시 동대문구', '서울특별시 동작구', '서울특별시 마포구', '서울특별시 서대문구',
       '서울특별시 서초구', '서울특별시 성동구', '서울특별시 성북구', '서울특별시 송파구', '서울특별시 양천구',
       '서울특별시 영등포구', '서울특별시 용산구', '서울특별시 은평구', '서울특별시 종로구', '서울특별시 중구',
       '서울특별시 중랑구', '인천광역시 강화군', '인천광역시 계양구', '인천광역시 남동구', '인천광역시 동구',
       '인천광역시 미추홀구', '인천광역시 부평구', '인천광역시 서구', '인천광역시 연수구', '인천광역시 옹진군',
       '인천광역시 중구']
o_li = [i.strip() for i in order_list]

# 통행량
- 피벗테이블형태를 데이터프레임형태로 변환
- 출발지와 도착지가 같은 곳은 삭제

In [5]:
pass_2021 = pd.read_excel('./day/2021년통행량.xlsx', index_col=0)
pass_2021.reset_index(inplace=True)
pass_2021.head()

,index,경기도 가평군,경기도 고양시,경기도 과천시,경기도 광명시,경기도 광주시,경기도 구리시,경기도 군포시,경기도 김포시,경기도 남양주시,...,인천광역시 강화군,인천광역시 계양구,인천광역시 남동구,인천광역시 동구,인천광역시 미추홀구,인천광역시 부평구,인천광역시 서구,인천광역시 연수구,인천광역시 중구,인천광역시 옹진군
0,경기도 가평군,4766,38,4,18,5,216,6,10,2097,...,0,6,5,0,13,19,8,1,3,0
1,경기도 고양시,38,378236,527,567,137,324,454,4824,608,...,104,458,328,45,345,630,890,271,400,0
2,경기도 과천시,4,527,8656,359,63,92,3029,107,156,...,1,78,171,5,123,181,93,227,51,0
3,경기도 광명시,18,567,359,90178,42,64,1709,296,148,...,2,661,662,66,602,2750,406,372,274,0
4,경기도 광주시,5,137,63,42,70778,61,99,22,122,...,1,10,20,1,27,48,26,20,13,0

In [8]:
li_1 = []
li_2 = []
li_3 = []
for idx, row in tqdm(pass_2021.iterrows()):
    for r in o_li:
        li_1.append(row["index"])
        li_2.append(r)
        li_3.append(row[r])

0it [00:00, ?it/s]

In [9]:
pas_21 = pd.DataFrame(list(zip(li_1, li_2, li_3)), columns=['출발지', '도착지', '통행량'])
pas_21.head(10)

       출발지       도착지   통행량
0  경기도 가평군   경기도 가평군  4766
1  경기도 가평군   경기도 고양시    38
2  경기도 가평군   경기도 과천시     4
3  경기도 가평군   경기도 광명시    18
4  경기도 가평군   경기도 광주시     5
5  경기도 가평군   경기도 구리시   216
6  경기도 가평군   경기도 군포시     6
7  경기도 가평군   경기도 김포시    10
8  경기도 가평군  경기도 남양주시  2097
9  경기도 가평군  경기도 동두천시     3

In [10]:
d_li = []
for idx, row in pas_21.iterrows():
    if row['출발지'] == row['도착지']:
        d_li.append(idx)
        
pas_21.drop(d_li, inplace=True)
pas_21.reset_index(drop=True, inplace=True)
pas_21.to_excel('./day/21년통행량.xlsx', encoding='utf-8')

In [11]:
pas_21 = pd.read_excel('./aa/21년통행량.xlsx', index_col=0)

# 전철

In [15]:
rail_2021 = pd.read_excel('./aa/21년전철.xlsx', index_col=0)
rail_2021 = rail_2021[rail_2021['객실수'] != 0]
rail_2021.reset_index(drop=True, inplace=True)
rail_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4779 entries, 0 to 4778
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Stop_NM     4779 non-null   object
 1   RT_ID       4779 non-null   object
 2   운행횟수        4614 non-null   float64
 3   Stop_ID_y   4211 non-null   object
 4   Lati_x      4211 non-null   float64
 5   Long_x      4211 non-null   float64
 6   MTC_Region  4211 non-null   object
 7   RT_NM       4211 non-null   object
 8   RT_Desc     4211 non-null   object
 9   객실수         4211 non-null   float64
 10  Lati_y      4159 non-null   float64
 11  Long_y      4159 non-null   float64
 12  광역시/도       4159 non-null   object
 13  시/군         4159 non-null   object
 14  구           4159 non-null   object
 15  동/읍/면       4159 non-null   object
 16  지역          4159 non-null   object
dtypes: float64(6), object(11)
memory usage: 634.8+ KB

In [16]:
rail_2021.head()

,Stop_NM,RT_ID,운행횟수,Stop_ID_y,Lati_x,Long_x,MTC_Region,RT_NM,RT_Desc,객실수,Lati_y,Long_y,광역시/도,시/군,구,동/읍/면,지역
0,서울역(지하),RR_ACC1_S-1-01-1D,125.0,RS_ACC1_S-1-0150,37.55587,126.9721,1_수도권,서울1호선,서울1호선(소요산-인천)<하행>,10.0,37.55587,126.9721,서울특별시,중구,중구,봉래동2가,서울특별시 중구
1,서울역(지하),RR_ACC1_S-1-01-1U,130.0,RS_ACC1_S-1-0150,37.55587,126.9721,1_수도권,서울1호선,서울1호선(소요산-인천)<상행>,10.0,37.55587,126.9721,서울특별시,중구,중구,봉래동2가,서울특별시 중구
2,서울역(지하),RR_ACC1_S-1-01-2D,43.0,RS_ACC1_S-1-0150,37.55587,126.9721,1_수도권,서울1호선,서울1호선(광운대-신창)<하행>,10.0,37.55587,126.9721,서울특별시,중구,중구,봉래동2가,서울특별시 중구
3,서울역(지하),RR_ACC1_S-1-01-2U,51.0,RS_ACC1_S-1-0150,37.55587,126.9721,1_수도권,서울1호선,서울1호선(광운대-신창)<상행>,10.0,37.55587,126.9721,서울특별시,중구,중구,봉래동2가,서울특별시 중구
4,서울역(지하),RR_ACC1_S-1-01-5D,26.0,RS_ACC1_S-1-0150,37.55587,126.9721,1_수도권,서울1호선,서울1호선(청량리-신창급행)<하행>,10.0,37.55587,126.9721,서울특별시,중구,중구,봉래동2가,서울특별시 중구

In [17]:
tmp_rail_2021 =pd.DataFrame(pd.pivot_table(rail_2021, index=['지역', "광역시/도", 'RT_NM', '객실수'], values="운행횟수", aggfunc=np.sum))
tmp_rail_2021.reset_index(inplace=True)
tmp_rail_2021.head()

        지역 광역시/도  RT_NM   객실수    운행횟수
0  경기도 가평군   경기도    경춘선   8.0   402.0
1  경기도 고양시   경기도  경의중앙선   8.0  2076.0
2  경기도 고양시   경기도  서울3호선  10.0  2814.0
3  경기도 과천시   경기도  서울4호선  10.0  1240.0
4  경기도 광명시   경기도  서울1호선  10.0    40.0

In [19]:
li_1 = []
li_2 = []
li_3 = []
li_4 = []
li_5 = []
li_6 = []
li_7 = []
li_8 = []
li_9 = []

for idx, row in tqdm(tmp_rail_2021.iterrows()):
    tmp_list = list(set(rail_2021[rail_2021["RT_NM"] == row['RT_NM']]['지역']))
    for i in tmp_list:
        li_1.append(row['광역시/도'].strip())
        #li_2.append(row['시/군'])
        #li_3.append(row['구'])
       # li_4.append(row['동/읍/면'])
        li_5.append(row['지역'].strip())
        li_6.append(i)
        li_7.append(row['RT_NM'])
        li_8.append(row['객실수'])
        li_9.append(row['운행횟수'])

0it [00:00, ?it/s]

In [20]:
rail = pd.DataFrame(list(zip(li_1,li_5,li_6,li_7, li_8, li_9)),
                    columns=["광역시도(출발)", '출발지', '도착지','RT_NM', '객실수', '운행횟수'])
rail['전철운행'] = rail['객실수'] * rail['운행횟수'] * 160
rail = rail[~rail['도착지'].isna()]
rail

     광역시도(출발)       출발지         도착지   RT_NM  객실수   운행횟수      전철운행
0         경기도   경기도 가평군     경기도 가평군     경춘선  8.0  402.0  514560.0
1         경기도   경기도 가평군   서울특별시 중랑구     경춘선  8.0  402.0  514560.0
3         경기도   경기도 가평군     경기도 구리시     경춘선  8.0  402.0  514560.0
4         경기도   경기도 가평군   서울특별시 노원구     경춘선  8.0  402.0  514560.0
5         경기도   경기도 가평군  서울특별시 동대문구     경춘선  8.0  402.0  514560.0
...       ...       ...         ...     ...  ...    ...       ...
2425    인천광역시  인천광역시 중구    인천광역시 중구   수인분당선  6.0  514.0  493440.0
2426    인천광역시  인천광역시 중구     경기도 수원시   수인분당선  6.0  514.0  493440.0
2427    인천광역시  인천광역시 중구   서울특별시 송파구   수인분당선  6.0  514.0  493440.0
2428    인천광역시  인천광역시 중구     경기도 화성시   수인분당선  6.0  514.0  493440.0
2429    인천광역시  인천광역시 중구    인천광역시 중구  자기부상열차  2.0  140.0   44800.0

[2397 rows x 7 columns]

In [21]:
rail.to_excel('./aa/2021전철table.xlsx', encoding='utf-8')

# 버스

In [22]:
bus_2021 = pd.read_csv('./aa/21년버스.csv', index_col=0)

In [23]:
bus_2021 = bus_2021[~bus_2021.duplicated(subset=["Stop_ID", "RT_ID"])]
bus_2021.head()

,Stop_ID,Stop_NM,RT_ID,운행횟수,RT_NM,Lati,Long,광역시/도,시/군,구,동/읍/면,지역
0,BS_1100_100000001,종로2가사거리,BR_1100_100100073,137,470,37.56977,126.98775,서울특별시,종로구,종로구,종로2가,서울특별시 종로구
2,BS_1100_100000001,종로2가사거리,BR_1100_100100585,8,N37,37.56977,126.98775,서울특별시,종로구,종로구,종로2가,서울특별시 종로구
4,BS_1100_100000001,종로2가사거리,BR_1100_123000010,132,741,37.56977,126.98775,서울특별시,종로구,종로구,종로2가,서울특별시 종로구
6,BS_1100_100000002,창경궁.서울대학교병원,BR_1100_100100007,134,102,37.57918,126.99657,서울특별시,종로구,종로구,연건동,서울특별시 종로구
10,BS_1100_100000002,창경궁.서울대학교병원,BR_1100_100100009,158,104,37.57918,126.99657,서울특별시,종로구,종로구,연건동,서울특별시 종로구

In [24]:
tmp_bus_2021 = pd.pivot_table(data=bus_2021, index=['지역',"광역시/도", 'RT_ID', "RT_NM", "운행횟수"], values="Lati", aggfunc=len)
tmp_bus_2021.reset_index(inplace=True)
tmp_bus_2021 # Lati는 의미없음

             지역  광역시/도                 RT_ID            RT_NM  운행횟수  Lati
0       경기도 가평군    경기도    BR_2100_5200058000               58    24     2
1       경기도 가평군    경기도    BR_2100_5200100000              100    65     2
2       경기도 가평군    경기도    BR_2100_5200181000              181    58     2
3       경기도 가평군    경기도    BR_2100_5200185000              185    37     2
4       경기도 가평군    경기도    BR_2100_5202000000             2000    20     2
...         ...    ...                   ...              ...   ...   ...
32679  인천광역시 중구  인천광역시  BR_TAGO_USB196104924       492(율리 방면)     3     1
32680  인천광역시 중구  인천광역시  BR_TAGO_USB196105043       504(율리 순환)     8     1
32681  인천광역시 중구  인천광역시  BR_TAGO_USB196105044       504(율리 순환)    13     1
32682  인천광역시 중구  인천광역시  BR_TAGO_USB196105046        504(율리방면)     2     1
32683  인천광역시 중구  인천광역시  BR_TAGO_USB196107331  733(울산과학기술원 방면)    30     1

[32684 rows x 6 columns]

In [25]:
li_1 = []
li_2 = []
li_3 = []
li_4 = []
li_5 = []
li_6 = []

for idx, row in tqdm(tmp_bus_2021.iterrows()):
    tmp_list = list(set(bus_2021[bus_2021["RT_ID"] == row['RT_ID']]['지역']))
    for i in tmp_list:
        li_1.append(row['지역'].strip())
        li_2.append(i)
        li_3.append(row['RT_NM'])
        li_4.append(row['RT_ID'])
        li_5.append(row['광역시/도'].strip())
        li_6.append(row['운행횟수'])

0it [00:00, ?it/s]

In [26]:
bus = pd.DataFrame(list(zip(li_5, li_1, li_2, li_3, li_4, li_6)), 
                   columns=["광역시/도(출발)", '출발지', '도착지', '버스번호', "RT_ID", "운행횟수"])
bus = bus[~bus['도착지'].isna()]
bus['버스운행'] = bus['운행횟수'] * 45
bus

,광역시/도(출발),출발지,도착지,버스번호,RT_ID,운행횟수,버스운행
0,경기도,경기도 가평군,경기도 가평군,58,BR_2100_5200058000,24,1080
1,경기도,경기도 가평군,경기도 군포시,58,BR_2100_5200058000,24,1080
3,경기도,경기도 가평군,경기도 가평군,100,BR_2100_5200100000,65,2925
4,경기도,경기도 가평군,경기도 평택시,100,BR_2100_5200100000,65,2925
6,경기도,경기도 가평군,경기도 시흥시,100,BR_2100_5200100000,65,2925
...,...,...,...,...,...,...,...
197865,인천광역시,인천광역시 중구,경기도 광주시,733(울산과학기술원 방면),BR_TAGO_USB196107331,30,1350
197866,인천광역시,인천광역시 중구,경기도 안산시,733(울산과학기술원 방면),BR_TAGO_USB196107331,30,1350
197867,인천광역시,인천광역시 중구,경기도 안성시,733(울산과학기술원 방면),BR_TAGO_USB196107331,30,1350
197868,인천광역시,인천광역시 중구,인천광역시 중구,733(울산과학기술원 방면),BR_TAGO_USB196107331,30,1350
197869,인천광역시,인천광역시 중구,경기도 남양주시,733(울산과학기술원 방면),BR_TAGO_USB196107331,30,1350

In [27]:
bus.to_excel('./aa/2021버스table.xlsx', encoding='utf-8')

In [11]:
bus = pd.read_excel('./aa/2021버스table.xlsx', index_col=0)
rail = pd.read_excel('./aa/2021전철table.xlsx',index_col=0)
#pas_21 = pd.read_excel('./aa/21년통행량.xlsx', index_col=0)

# 통합

In [28]:
pas_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4290 entries, 0 to 4289
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   출발지     4290 non-null   object
 1   도착지     4290 non-null   object
 2   통행량     4290 non-null   int64
dtypes: int64(1), object(2)
memory usage: 100.7+ KB

In [29]:
rail_sum = pd.DataFrame(pd.pivot_table(data=rail, index=['출발지', '도착지'], values='전철운행', aggfunc=np.sum))
rail_sum.reset_index(inplace=True)

rail_sum

           출발지         도착지       전철운행
0      경기도 가평군     경기도 가평군   514560.0
1      경기도 가평군     경기도 구리시   514560.0
2      경기도 가평군    경기도 남양주시   514560.0
3      경기도 가평군   서울특별시 노원구   514560.0
4      경기도 가평군  서울특별시 동대문구   514560.0
...        ...         ...        ...
1595  인천광역시 중구  인천광역시 미추홀구  1938240.0
1596  인천광역시 중구   인천광역시 부평구  1444800.0
1597  인천광역시 중구    인천광역시 서구  1735680.0
1598  인천광역시 중구   인천광역시 연수구   493440.0
1599  인천광역시 중구    인천광역시 중구  3718720.0

[1600 rows x 3 columns]

In [30]:
bus_sum = pd.DataFrame(pd.pivot_table(data=bus, index=['출발지', '도착지'], values='버스운행', aggfunc=np.sum))
bus_sum.reset_index(inplace=True)
bus_sum

           출발지        도착지    버스운행
0      경기도 가평군    경기도 가평군  147825
1      경기도 가평군    경기도 고양시   30195
2      경기도 가평군    경기도 과천시     135
3      경기도 가평군    경기도 광명시    1215
4      경기도 가평군    경기도 광주시   14040
...        ...        ...     ...
4101  인천광역시 중구  인천광역시 부평구  193725
4102  인천광역시 중구   인천광역시 서구  179595
4103  인천광역시 중구  인천광역시 연수구  120780
4104  인천광역시 중구  인천광역시 옹진군      45
4105  인천광역시 중구   인천광역시 중구  587835

[4106 rows x 3 columns]

In [32]:
pas_21["출발지"] = pas_21["출발지"].str.strip()
pas_21["도착지"] = pas_21["도착지"].str.strip()

rail_sum["출발지"] = rail_sum["출발지"].str.strip()
rail_sum["도착지"] = rail_sum["도착지"].str.strip()

bus_sum["출발지"] = bus_sum["출발지"].str.strip()
bus_sum["도착지"] = bus_sum["도착지"].str.strip()

tmp21 = pd.merge(bus_sum, rail_sum, on=["출발지", "도착지"], how='outer')
final_2021 = pd.merge(pas_21, tmp21, on=["출발지", "도착지"], how='left')

final_2021.fillna(0, inplace=True)
final_2021['교통적정'] = final_2021['통행량'] - (final_2021['전철운행'] + final_2021['버스운행'])
final_2021['연도'] = 2021
final_2021.to_excel('./day/final_2021.xlsx', encoding='utf-8')

# 1. 2020년

In [31]:
pass_2020 = pd.read_excel('./day/2020년통행량.xlsx', index_col=0)
pass_2020.reset_index(inplace=True)
pass_2020.head()

li_1 = []
li_2 = []
li_3 = []
for idx, row in tqdm(pass_2020.iterrows()):
    for r in o_li:
        li_1.append(row["index"])
        li_2.append(r)
        li_3.append(row[r])
        
pas_20 = pd.DataFrame(list(zip(li_1, li_2, li_3)), columns=['출발지', '도착지', '통행량'])
pas_20.head(10)

d_li = []
for idx, row in pas_20.iterrows():
    if row['출발지'] == row['도착지']:
        d_li.append(idx)
        
pas_20.drop(d_li, inplace=True)
pas_20.reset_index(drop=True, inplace=True)
pas_20.to_excel('./day/20년통행량.xlsx', encoding='utf-8')

0it [00:00, ?it/s]

In [79]:
rail_2020 = pd.read_excel('./aa/20년전철.xlsx', index_col=0)
rail_2020 = rail_2020[rail_2020['객실수'] != 0]
rail_2020.reset_index(drop=True, inplace=True)
rail_2020.info()

tmp_rail_2020 =pd.DataFrame(pd.pivot_table(rail_2020, index=['지역', "광역시/도", 'RT_NM', '객실수'], 
                                           values="운행횟수", aggfunc=np.sum))
tmp_rail_2020.reset_index(inplace=True)
tmp_rail_2020.head()



li_1 = []
li_5 = []
li_6 = []
li_7 = []
li_8 = []
li_9 = []

for idx, row in tmp_rail_2020.iterrows():
    tmp_list = list(set(rail_2020[rail_2020["RT_NM"] == row['RT_NM']]['지역']))
    for i in tmp_list:
        li_1.append(row['광역시/도'])
        li_5.append(row['지역'])
        li_6.append(i)
        li_7.append(row['RT_NM'])
        li_8.append(row['객실수'])
        li_9.append(row['운행횟수'])
        
        
rail20 = pd.DataFrame(list(zip(li_1,li_5,li_6,li_7, li_8, li_9)),
                    columns=["광역시도(출발)", '출발지', '도착지','RT_NM', '객실수', '운행횟수'])
rail20['전철운행'] = rail20['객실수'] * rail20['운행횟수'] * 160
rail20 = rail20[~rail20['도착지'].isna()]
rail20


rail20.to_excel('./aa/2020전철table.xlsx', encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4503 entries, 0 to 4502
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Stop_NM     4503 non-null   object
 1   RT_ID       4503 non-null   object
 2   운행횟수        4388 non-null   float64
 3   Stop_ID_y   3937 non-null   object
 4   Lati_x      3937 non-null   float64
 5   Long_x      3937 non-null   float64
 6   MTC_Region  3937 non-null   object
 7   RT_NM       3937 non-null   object
 8   RT_Desc     3937 non-null   object
 9   객실수         3937 non-null   float64
 10  Lati_y      3885 non-null   float64
 11  Long_y      3885 non-null   float64
 12  광역시/도       3885 non-null   object
 13  시/군         3885 non-null   object
 14  구           3885 non-null   object
 15  동/읍/면       3885 non-null   object
 16  지역          3885 non-null   object
dtypes: float64(6), object(11)
memory usage: 598.2+ KB

In [80]:
bus_2020 = pd.read_csv('./aa/20년버스.csv', index_col=0)
bus_2020 = bus_2020[~bus_2020.duplicated(subset=["Stop_ID", "RT_ID"])]
bus_2020.head()

tmp_bus_2020 = pd.pivot_table(data=bus_2020, index=['지역',"광역시/도", 'RT_ID', "RT_NM", "운행횟수"], 
                              values="Lati", aggfunc=len)
tmp_bus_2020.reset_index(inplace=True)
tmp_bus_2020 # Lati는 의미없음

li_1 = []
li_2 = []
li_3 = []
li_4 = []
li_5 = []
li_6 = []

for idx, row in tqdm(tmp_bus_2020.iterrows()):
    tmp_list = list(set(bus_2020[bus_2020["RT_ID"] == row['RT_ID']]['지역']))
    for i in tmp_list:
        li_1.append(row['지역'])
        li_2.append(i)
        li_3.append(row['RT_NM'])
        li_4.append(row['RT_ID'])
        li_5.append(row['광역시/도'])
        li_6.append(row['운행횟수'])
        
bus20 = pd.DataFrame(list(zip(li_5, li_1, li_2, li_3, li_4, li_6)), 
                   columns=["광역시/도(출발)", '출발지', '도착지', '버스번호', "RT_ID", "운행횟수"])
bus20 = bus20[~bus20['도착지'].isna()]
bus20['버스운행'] = bus20['운행횟수'] * 45

bus20.to_excel('./aa/2020버스table.xlsx', encoding='utf-8')

0it [00:00, ?it/s]

In [33]:
bus20 = pd.read_excel('./aa/2020버스table.xlsx', index_col=0)
rail20 = pd.read_excel('./aa/2020전철table.xlsx',index_col=0)
#pas_20 = pd.read_excel('./aa/20년통행량.xlsx', index_col=0)

In [34]:
rail_sum20 = pd.DataFrame(pd.pivot_table(data=rail20, index=['출발지', '도착지'], values='전철운행', aggfunc=np.sum))
rail_sum20.reset_index(inplace=True)

bus_sum20 = pd.DataFrame(pd.pivot_table(data=bus20, index=['출발지', '도착지'], values='버스운행', aggfunc=np.sum))
bus_sum20.reset_index(inplace=True)

pas_20["출발지"] = pas_20["출발지"].str.strip()
pas_20["도착지"] = pas_20["도착지"].str.strip()

rail_sum20["출발지"] = rail_sum20["출발지"].str.strip()
rail_sum20["도착지"] = rail_sum20["도착지"].str.strip()

bus_sum20["출발지"] = bus_sum20["출발지"].str.strip()
bus_sum20["도착지"] = bus_sum20["도착지"].str.strip()

tmp20 = pd.merge(pas_20, rail_sum20, on=["출발지", "도착지"], how='left')
final_2020 = pd.merge(tmp20, bus_sum20, on=["출발지", "도착지"], how='left')
final_2020.fillna(0, inplace=True)
final_2020['교통적정'] = final_2020['통행량'] - (final_2020['전철운행'] + final_2020['버스운행'])
final_2020['연도'] = 2020

final_2020.to_excel('./day/final_2020.xlsx', encoding='utf-8')

# 2. 2019년

In [35]:
pass_2019 = pd.read_excel('./day/2019년통행량.xlsx', index_col=0)
pass_2019.reset_index(inplace=True)
pass_2019.head()

li_1 = []
li_2 = []
li_3 = []
for idx, row in pass_2019.iterrows():
    for r in o_li:
        li_1.append(row["index"])
        li_2.append(r)
        li_3.append(row[r])
        
pas_19 = pd.DataFrame(list(zip(li_1, li_2, li_3)), columns=['출발지', '도착지', '통행량'])
pas_19.head(10)

d_li = []
for idx, row in pas_19.iterrows():
    if row['출발지'] == row['도착지']:
        d_li.append(idx)
        
pas_19.drop(d_li, inplace=True)
pas_19.reset_index(drop=True, inplace=True)
pas_19.to_excel('./day/19년통행량.xlsx', encoding='utf-8')

In [83]:
rail_2019 = pd.read_excel('./aa/19년전철.xlsx', index_col=0)
rail_2019 = rail_2019[rail_2019['객실수'] != 0]
rail_2019.reset_index(drop=True, inplace=True)
rail_2019.info()

tmp_rail_2019 =pd.DataFrame(pd.pivot_table(rail_2019, index=['지역', "광역시/도", 'RT_NM', '객실수'], 
                                           values="운행횟수", aggfunc=np.sum))
tmp_rail_2019.reset_index(inplace=True)
tmp_rail_2019.head()



li_1 = []
li_5 = []
li_6 = []
li_7 = []
li_8 = []
li_9 = []

for idx, row in tmp_rail_2019.iterrows():
    tmp_list = list(set(rail_2019[rail_2019["RT_NM"] == row['RT_NM']]['지역']))
    for i in tmp_list:
        li_1.append(row['광역시/도'])
        li_5.append(row['지역'])
        li_6.append(i)
        li_7.append(row['RT_NM'])
        li_8.append(row['객실수'])
        li_9.append(row['운행횟수'])
        
        
rail19 = pd.DataFrame(list(zip(li_1,li_5,li_6,li_7, li_8, li_9)),
                    columns=["광역시도(출발)", '출발지', '도착지','RT_NM', '객실수', '운행횟수'])
rail19['전철운행'] = rail['객실수'] * rail['운행횟수'] * 160
rail19 = rail19[~rail19['도착지'].isna()]


rail19.to_excel('./aa/2019전철table.xlsx', encoding='utf-8')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4503 entries, 0 to 4502
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Stop_NM     4503 non-null   object
 1   RT_ID       4503 non-null   object
 2   운행횟수        4388 non-null   float64
 3   Stop_ID_y   3937 non-null   object
 4   Lati_x      3937 non-null   float64
 5   Long_x      3937 non-null   float64
 6   MTC_Region  3937 non-null   object
 7   RT_NM       3937 non-null   object
 8   RT_Desc     3937 non-null   object
 9   객실수         3937 non-null   float64
 10  Lati_y      3885 non-null   float64
 11  Long_y      3885 non-null   float64
 12  광역시/도       3885 non-null   object
 13  시/군         3885 non-null   object
 14  구           3885 non-null   object
 15  동/읍/면       3885 non-null   object
 16  지역          3885 non-null   object
dtypes: float64(6), object(11)
memory usage: 598.2+ KB

In [84]:
bus_2019 = pd.read_csv('./aa/19년버스.csv', index_col=0)
bus_2019 = bus_2019[~bus_2019.duplicated(subset=["Stop_ID", "RT_ID"])]
bus_2019.head()

tmp_bus_2019 = pd.pivot_table(data=bus_2019, index=['지역',"광역시/도", 'RT_ID', "RT_NM", "운행횟수"], 
                              values="Lati", aggfunc=len)
tmp_bus_2019.reset_index(inplace=True)
tmp_bus_2019 # Lati는 의미없음

li_1 = []
li_2 = []
li_3 = []
li_4 = []
li_5 = []
li_6 = []

for idx, row in tqdm(tmp_bus_2019.iterrows()):
    tmp_list = list(set(bus_2019[bus_2019["RT_ID"] == row['RT_ID']]['지역']))
    for i in tmp_list:
        li_1.append(row['지역'])
        li_2.append(i)
        li_3.append(row['RT_NM'])
        li_4.append(row['RT_ID'])
        li_5.append(row['광역시/도'])
        li_6.append(row['운행횟수'])
        
bus19 = pd.DataFrame(list(zip(li_5, li_1, li_2, li_3, li_4, li_6)), 
                   columns=["광역시/도(출발)", '출발지', '도착지', '버스번호', "RT_ID", "운행횟수"])
bus19 = bus19[~bus19['도착지'].isna()]
bus19['버스운행'] = bus19['운행횟수'] * 45

bus19.to_excel('./aa/2019버스table.xlsx', encoding='utf-8')

0it [00:00, ?it/s]

In [37]:
bus19 = pd.read_excel('./aa/2019버스table.xlsx', index_col=0)
rail19 = pd.read_excel('./aa/2019전철table.xlsx',index_col=0)
#pas_19 = pd.read_excel('./aa/19년통행량.xlsx', index_col=0)

In [38]:
rail_sum19 = pd.DataFrame(pd.pivot_table(data=rail19, index=['출발지', '도착지'], values='전철운행', aggfunc=np.sum))
rail_sum19.reset_index(inplace=True)

bus_sum19 = pd.DataFrame(pd.pivot_table(data=bus19, index=['출발지', '도착지'], values='버스운행', aggfunc=np.sum))
bus_sum19.reset_index(inplace=True)


pas_19["출발지"] = pas_19["출발지"].str.strip()
pas_19["도착지"] = pas_19["도착지"].str.strip()

rail_sum19["출발지"] = rail_sum19["출발지"].str.strip()
rail_sum19["도착지"] = rail_sum19["도착지"].str.strip()

bus_sum19["출발지"] = bus_sum19["출발지"].str.strip()
bus_sum19["도착지"] = bus_sum19["도착지"].str.strip()


tmp19 = pd.merge(pas_19, rail_sum19, on=["출발지", "도착지"], how='left')
final_2019 = pd.merge(tmp19, bus_sum19, on=["출발지", "도착지"], how='left')
final_2019.fillna(0, inplace=True)
final_2019['교통적정'] = final_2019['통행량'] - (final_2019['전철운행'] + final_2019['버스운행'])
final_2019['연도'] = 2019

final_2019.to_excel('./day/final_2019.xlsx', encoding='utf-8')

In [39]:
final_total = pd.concat([final_2019, final_2020, final_2021])
final_total.to_excel('./day/final_total.xlsx', encoding='utf-8')

In [2]:
final_total = pd.read_excel('./aa/final_total.xlsx', index_col=0)
final_total.head()

       출발지      도착지   통행량    전철운행   버스운행    교통적정    연도
0  경기도 가평군  경기도 고양시   701       0  25290  -24589  2019
1  경기도 가평군  경기도 과천시    35       0    135    -100  2019
2  경기도 가평군  경기도 광명시   229       0   1350   -1121  2019
3  경기도 가평군  경기도 광주시   215       0  10890  -10675  2019
4  경기도 가평군  경기도 구리시  6831  514560   7920 -515649  2019

In [3]:
final_total["전철통행량"] = final_total['전철운행'] * 30
final_total["버스통행량"] = final_total['버스운행'] * 30
final_total['노선적정'] = final_total['통행량'] - (final_total["전철통행량"]+final_total["버스통행량"])
final_total.drop(columns=['전철운행', '버스운행', '교통적정'], inplace=True)
final_total.head()

       출발지      도착지   통행량    연도     전철통행량   버스통행량      노선적정
0  경기도 가평군  경기도 고양시   701  2019         0  758700   -757999
1  경기도 가평군  경기도 과천시    35  2019         0    4050     -4015
2  경기도 가평군  경기도 광명시   229  2019         0   40500    -40271
3  경기도 가평군  경기도 광주시   215  2019         0  326700   -326485
4  경기도 가평군  경기도 구리시  6831  2019  15436800  237600 -15667569

In [4]:
final_total[["연도", "출발지", "도착지", "통행량", "버스통행량", "노선적정"]]
final_total.head()

       출발지      도착지   통행량    연도     전철통행량   버스통행량      노선적정
0  경기도 가평군  경기도 고양시   701  2019         0  758700   -757999
1  경기도 가평군  경기도 과천시    35  2019         0    4050     -4015
2  경기도 가평군  경기도 광명시   229  2019         0   40500    -40271
3  경기도 가평군  경기도 광주시   215  2019         0  326700   -326485
4  경기도 가평군  경기도 구리시  6831  2019  15436800  237600 -15667569

In [5]:
final_total.to_excel('./aa/최최종.xlsx', encoding='utf-8')

In [6]:
final_total[final_total["노선적정"] > 0]

            출발지        도착지   통행량    연도  전철통행량  버스통행량  노선적정
28      경기도 가평군    경기도 하남시   336  2019      0      0   336
33      경기도 가평군  서울특별시 강서구   344  2019      0      0   344
34      경기도 가평군  서울특별시 관악구  1618  2019      0      0  1618
42      경기도 가평군  서울특별시 마포구   833  2019      0      0   833
52      경기도 가평군  서울특별시 종로구   924  2019      0      0   924
...         ...        ...   ...   ...    ...    ...   ...
4221  인천광역시 옹진군  인천광역시 부평구   198  2021      0      0   198
4222  인천광역시 옹진군   인천광역시 서구    94  2021      0      0    94
4223  인천광역시 옹진군  인천광역시 연수구   184  2021      0      0   184
4230   인천광역시 중구    경기도 구리시  1265  2021      0      0  1265
4243   인천광역시 중구    경기도 양평군   562  2021      0      0   562

[662 rows x 7 columns]